@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #042f2e;
    overflow: hidden;
}
.container{
    width: 350px;
    overflow: hidden;
}
.container .text{
    position: relative;
    color: #2dd4bf;
    font-size: 30px;
    font-weight: 600;
}
.container .text.first-text{
    color: #FFF;
    padding-right: 4px;
} 
.text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #042f2e;
    border-left: 2px solid #2dd4bf;
    animation: animate 4s steps(20) infinite;
}
@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left:0%;
    }
}